<div class="fh5co-spacer fh5co-spacer-sm"></div>
<div class="container" id="fh5co-products">
  <div class="row text-left" id="people">
    <div class="col-md-offset-2 col-md-8">
      <h2 class="fh5co-section-lead">¿Quiénes somos?</h2>
    </div>
    <div class="fh5co-spacer fh5co-spacer-md"></div>
  </div>
  <div class="row text-center">
    <div class="col-md-offset-1 col-md-2 col-sm-6 col-xs-6 col-xxs-12 fh5co-mb30">
      <div class="fh5co-product">
        <img src="images/about/uke.jpg" class="img-responsive img-rounded to-animate">
        <h4>Uke</h4>
        <div class="fh5co-footer-widget">
          <ul class="fh5co-social">
            <li><a href="https://github.com/eugeniol" target="_blank"><i class="icon-github"></i></a></li>
            <li><a href="https://www.facebook.com/elattanzio" target="_blank"><i class="icon-facebook"></i></a></li>
            <li><a href="https://ar.linkedin.com/in/elattanzio" target="_blank"><i class="icon-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12 fh5co-mb30">
      <div class="fh5co-product">
        <img src="images/about/abo.jpeg" class="img-responsive img-rounded to-animate">
        <h4>Aboyón</h4>
        <div class="fh5co-footer-widget">
          <ul class="fh5co-social">
            <li><a href="https://github.com/aboyon" target="_blank"><i class="icon-github"></i></a></li>
            <li><a href="https://www.instagram.com/aboyon/" target="_blank"><i class="icon-instagram"></i></a></li>
            <li><a href="https://ar.linkedin.com/in/jorgedavidsilveira/es" target="_blank"><i class="icon-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="visible-sm-block visible-xs-block clearfix"></div>
    <div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12 fh5co-mb30">
      <div class="fh5co-product">
        <img src="images/about/guido.jpeg" class="img-responsive img-rounded to-animate">
        <h4>Guido</h4>
        <div class="fh5co-footer-widget">
          <ul class="fh5co-social">
            <li><a href="https://github.com/GuidoAlloatti" target="_blank"><i class="icon-github"></i></a></li>
            <li><a href="https://www.facebook.com/guido.alloatti" target="_blank"><i class="icon-facebook"></i></a></li>
            <li><a href="https://ar.linkedin.com/in/guidoalloatti" target="_blank"><i class="icon-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12 fh5co-mb30">
      <div class="fh5co-product">
        <img src="images/about/leo.jpg" class="img-responsive img-rounded to-animate">
        <h4>Leo</h4>
        <div class="fh5co-footer-widget">
          <ul class="fh5co-social">
            <li><a href="https://github.com/leotioni" target="_blank"><i class="icon-github"></i></a></li>
            <li><a href="https://www.instagram.com/leo.tioni/" target="_blank"><i class="icon-instagram"></i></a></li>
            <li><a href="https://ar.linkedin.com/in/leotioni" target="_blank"><i class="icon-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12 fh5co-mb30">
      <div class="fh5co-product">
        <img src="images/about/gonzo.jpeg" class="img-responsive img-rounded to-animate">
        <h4>Gonzo</h4>
        <div class="fh5co-footer-widget">
          <ul class="fh5co-social">
            <li><a href="https://www.github.com/GonzoGhanem"><i class="icon-github"></i></a></li>
            <li><a href="https://www.twitter.com/GonzaGhanemOK" target="_blank"><i class="icon-twitter"></i></a></li>
            <li><a href="https://ar.linkedin.com/in/gonzalo-h-ghanem-4b144310" target="_blank"><i class="icon-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
