<div class="fh5co-slider">
  <div class="owl-carousel owl-carousel-fullwidth">
    <div id="first" class="item">
      <div class="fh5co-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text text-center to-animate">
                <h1 class="fh5co-lead">Workaround</h1>
                <h2 class="fh5co-sub-lead">Espacio de trabajo compartido, amplio, luminoso, céntrico e inspirador </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="second" class="item">
      <div class="fh5co-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text text-center to-animate">
                <h1 class="fh5co-lead">Como en casa</h1>
                <h2 class="fh5co-sub-lead">Entrás, dejás la mochila, preparás el mate y estás listo para empezar tu día. Como en casa</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="third" class="item">
      <div class="fh5co-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text text-center to-animate">
                <h1 class="fh5co-lead">Muchos espacios en uno</h1>
                <h2 class="fh5co-sub-lead">Disfruta de todas nuestras alternativas para trabajar de la manera más cómoda</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="fourth" class="item">
      <div class="fh5co-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text text-center to-animate">
                <h1 class="fh5co-lead">Todo en uno</h1>
              <h2 class="fh5co-sub-lead">Nuestras mesas cuentan con todo tipo de conexión, para que tengas cerca todo lo que te importa</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>