
<div id="fh5co-features">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="fh5co-section-lead">¿Qué es workaround?</h2>

        <h3 class="fh5co-section-sub-lead">
          WorkAround surgió de una necesidad: <strong>tener una oficina propia donde pudiéramos compartir el día a día con amigos.</strong>
          </br></br>
          El resultado nos gustó tanto, que decidimos abrir las puertas a todos aquellos que necesiten un lugar en donde desarrollar su actividad y a la vez pasar un buen rato entre colegas. Nuestro ambiente es tranquilo, cómodo, agradable y funcional, ideal para Freelancers de cualquier rubro.</br></br>
          No importa a qué te dediques ni en que horarios te guste trabajar, nuestro servicio es flexible y se adapta a tus necesidades.
        </h3>
        <h2 class="fh5co-section-lead text-center"><small class="subtitle">nuestra oficina ahora es tú oficina</small></h2>
      </div>
      <div class="fh5co-spacer fh5co-spacer-md"></div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 fh5co-feature-border">
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <i class="icon-sun"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>Disfruta del día</h3>
            <p>El prestigioso edificio Altamira nos brinda  excelente luz diurna gracias a su hermoso diseño.</p>
          </div>
        </div>
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <i class="icon-users"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>Generá relaciones</h3>
            <p>Conocé gente, compartí mate, almorzá con gente diferente e incluso generá amistades.</p>
          </div>
        </div>
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <i class="icon-lock"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>Seguridad</h3>
            <p>Contamos con un piso exclusivo, seguridad en la entrada y sistema de alarma.</p>
          </div>
        </div>
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <i class="icon-flow-tree"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>Bici friendly</h3>
            <p>Varias bici-sendas te conducen a Workaround y contamos con estacionamiento para tu bici.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <!-- <i class="icon-briefcase"></i> -->
            <i class="icon-blackboard"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>Sala de reunión</h3>
            <p>Recibí a tus clientes, tomá llamadas de trabajo en privado, concentrate en lo que más te importa.</p>
          </div>
        </div>
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <!-- <i class="icon-location-pin"></i> -->
            <i class="icon-address"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>En pleno centro</h3>
            <p>Aprovechá a hacer trámites, caminar hasta el río, pasear por la peatonal, retirar algo del correo. El límite lo ponés vos.</p>
          </div>
        </div>
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <i class="icon-laptop"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>WiFi</h3>
            <p>Internet de alta velocidad, sin cables. Mantenete conectado siempre, desde cualquier dispositivo.</p>
          </div>
        </div>
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <!-- <i class="icon-controller-play"></i> -->
            <i class="icon-spotify"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>Spotify</h3>
            <p>Para concentrarse mientras disfrutas de tu música favorita. Como en casa, pero mejor.</p>
          </div>
        </div>
      </div>
      <div class="fh5co-spacer fh5co-spacer-md"></div>
    </div>
    <div class="row text-center" id="plen">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="fh5co-section-lead">¿Qué talle sos?</h2>
        <h3 class="fh5co-section-sub-lead">
          Nuestros planes son flexibles y se adaptan a tus necesidades
        </h3>
        <div class="fh5co-spacer fh5co-spacer-md"></div>

        <div class="row">
          <div class="col-md-3">
            <div class="table-header table-border">
              <h1>XS</h1>
            </div>
            <div class="table-content">
              <h3>1 día por semana</h3>
              <h3>8hs</h3>
              <h1>$600</h1>
            </div>
          </div>
          <div class="col-md-3">
            <div class="table-header table-border">
              <h1>S</h1>
            </div>
            <div class="table-content">
              <h3>4 días por semana</h3>
              <h3>4hs</h3>
              <h1>$1100</h1>
            </div>
          </div>
          <div class="col-md-3">
            <div class="table-header table-border">
              <h1>M</h1>
            </div>
            <div class="table-content">
              <h3>3 días por semana</h3>
              <h3>8hs</h3>
              <h1>$1500</h1>
            </div>
          </div>
          <div class="col-md-3">
            <div class="table-header table-border">
              <h1>L</h1>
            </div>
            <div class="table-content">
              <h3>5 días por semana</h3>
              <h3>8hs</h3>
              <h1>$1900</h1>
            </div>
          </div>
        </div>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="table-header table-border">
              <h1>Todos nuestros planes incluyen</h1>
            </div>
            <div class="table-content">
              <h3>+ conexión WiFi alta velocidad</h3>
              <h3>+ acceso Focus Room / Meeting Room</h3>
              <h3>+ café, mate, té, snacks, microondas</h3>
              <h3>+ relax area</h3>
              <h3>+ servicio sin cargo de impresora (hasta 50 hojas)</h3>
            </div>
          </div>
        </div>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="table-header table-border">
              <h1>También hosteamos tu evento</h1>
            </div>
            <div class="table-content">
              <h3>+ Capacidad de auditorio para 20 personas</h3>
              <h3>+ Proyector</h3>
              <h3>+ Servicio de lunch (opcional) </h3>
              <h3>+ Ideal para capacitaciones/cursos de fin de semana</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>