<div id="fh5co-features" class="features-div">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 fh5co-feature-border">
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <i class="icon-sun"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>Disfruta del día</h3>
            <p>El prestigioso edificio Altamira nos brinda  excelente luz diurna gracias a su hermoso diseño.</p>
          </div>
        </div>
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <i class="icon-users"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>Generá relaciones</h3>
            <p>Conocé gente, compartí mate, almorzá con gente diferente e incluso generá amistades.</p>
          </div>
        </div>
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <i class="icon-lock"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>Seguridad</h3>
            <p>Contamos con un piso exclusivo, seguridad en la entrada y sistema de alarma.</p>
          </div>
        </div>
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <i class="icon-flow-tree"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>Bici friendly</h3>
            <p>Varias bici-sendas te conducen a Workaround y contamos con estacionamiento para tu bici.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <!-- <i class="icon-briefcase"></i> -->
            <i class="icon-blackboard"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>Sala de reunión</h3>
            <p>Recibí a tus clientes, tomá llamadas de trabajo en privado, concentrate en lo que más te importa.</p>
          </div>
        </div>
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <!-- <i class="icon-location-pin"></i> -->
            <i class="icon-address"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>En pleno centro</h3>
            <p>Aprovechá a hacer trámites, caminar hasta el río, pasear por la peatonal, retirar algo del correo. El límite lo ponés vos.</p>
          </div>
        </div>
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <i class="icon-laptop"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>WiFi</h3>
            <p>Internet de alta velocidad, sin cables. Mantenete conectado siempre, desde cualquier dispositivo.</p>
          </div>
        </div>
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <!-- <i class="icon-controller-play"></i> -->
            <i class="icon-spotify"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>Spotify</h3>
            <p>Para concentrarse mientras disfrutas de tu música favorita. Como en casa, pero mejor.</p>
          </div>
        </div>
      </div>
      <div class="fh5co-spacer fh5co-spacer-md"></div>
    </div>
  </div>
</div>
