<div class="fh5co-spacer fh5co-spacer-lg"></div>

<div id="fh5co-clients" class="col-md-12">
    
  <div class="col-md-6">
    <h2 class="fh5co-section-lead">
      ¿Querés conocer la oficina?
      <a href="https://www.facebook.com/messages/t/user:602091589950813" target="_blank">
        <i class="icon-facebook fb-original"></i>
      </a>
    </h2>
    <div class="col-md-offset-1 col-md-11">
      <h3 class="fh5co-section-sub-lead" style="color: #FFF">
        Dejanos tu mensaje en Facebook para que podamos coordinar un día y te acerques a conocer el espacio, sin ningún compromiso :)
      </h3>
    </div>
  </div>

  <div class="col-md-6 site-address">
    <h1 class="fh5co-lead text-header">San Luis 470, Rosario</h1>
    <p class="author">&mdash; <cite>WorkAround Rosario</cite></p>
  </div>

</div>
