<!-- <div class="fh5co-spacer fh5co-spacer-sm" id="contacto"></div>  
<div class="container">
  <div class="row text-left" >
    <div class="col-md-offset-2 col-md-8">
      <h2 class="fh5co-section-lead">Vení a conocer la oficina</h2>
      <div class="fh5co-spacer fh5co-spacer-sm"></div>
      <form id="contact_form" action="/contact" method="post">
        <div class="col-md-9">
          <div class="form-group">
            <label for="name" class="sr-only">Nombre</label>
            <input placeholder="Nombre" id="name" name="name" type="text" class="form-control input-lg">
          </div>  
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="size" class="sr-only">Talle</label>
            <select class="form-control input-lg" id="size" name="size">
              <option>Talle</option>
              <option>XS</option>
              <option>S</option>
              <option>M</option>
              <option>L</option>
              <option>Auditorio</option>
            </select>
          </div>  
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input placeholder="Email" id="email" name="email" type="email" class="form-control input-lg">
          </div>  
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="phone" class="sr-only">Tel&eacute;fono</label>
            <input placeholder="Tel&eacute;fono" id="phone" name="phone" type="phone" class="form-control input-lg">
          </div>  
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="gender" class="sr-only">A que te dedicas</label>
            <textarea placeholder="Contanos a que te dedicas :)" id="message" name="message" class="form-control input-lg" rows="4"></textarea>
          </div>
        </div>
        <div class="col-md-offset-3 col-md-9" style="margin-bottom: 30px;">
          <div class="g-recaptcha" data-sitekey="6Lf28icTAAAAAHZhwxqSheiBOw55GdzSTfIf_2Z6"></div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="submit" class="btn btn-block btn-primary " value="Enviar consulta">
          </div>  
        </div>
        <div class="g-recaptcha" data-sitekey="6Lf28icTAAAAAHZhwxqSheiBOw55GdzSTfIf_2Z6"></div>
      </form>
    </div>
  </div>
</div>
<div id="confirmation_modal" class="modal modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p id="modal-body-text">
        </p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 -->