<div class="fh5co-slider">
  <div class="owl-carousel owl-carousel-fullwidth">
    <div class="item" style="background-image:url(images/pics/FullSizeRender13.jpg)">
      <div class="fh5co-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text text-center to-animate">
                <h1 class="fh5co-lead">Workaround</h1>
                <h2 class="fh5co-sub-lead">Espacio de trabajo compartido, amplio, luminoso, céntrico e inspirador </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item" style="background-image:url(images/pics/FullSizeRender8.jpg)">
      <div class="fh5co-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text text-center to-animate">
                <h1 class="fh5co-lead">Como en casa</h1>
                <h2 class="fh5co-sub-lead">Entrás, dejás la mochila, preparás el mate y estás listo para empezar tu día. Como en casa</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item" style="background-image:url(images/workaround-space15.jpg)">
      <div class="fh5co-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text text-center to-animate">
                <h1 class="fh5co-lead">Muchos espacios en uno</h1>
                <h2 class="fh5co-sub-lead">Te ofrecemos diferentes alternativas: desde compartir la mesa con tus compañeros, trabajar desde el sillón, aprovechar el aire fresco del balcón o concentrarte en nuestra Focus room</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item" style="background-image:url(images/mesa-area-copy.jpg)">
      <div class="fh5co-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text text-center to-animate">
                <h1 class="fh5co-lead">Todo en uno</h1>
              <h2 class="fh5co-sub-lead">Nuestras mesas cuentan con todo tipo de conexión, para que tengas cerca todo lo que te importa</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="fh5co-main">
<!-- Features -->

<div id="fh5co-features">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="fh5co-section-lead">¿Qué es workaround?</h2>

        <h3 class="fh5co-section-sub-lead">
          WorkAround surgió de una necesidad: <strong>tener una oficina propia donde pudiéramos compartir el día a día con amigos.</strong>
          </br></br>
          El resultado nos gustó tanto, que decidimos abrir las puertas a todos aquellos que necesiten un lugar en donde desarrollar su actividad y a la vez pasar un buen rato entre colegas. Nuestro ambiente es tranquilo, cómodo, agradable y funcional, ideal para Freelancers de cualquier rubro.</br></br>
          No importa a qué te dediques ni en que horarios te guste trabajar, nuestro servicio es flexible y se adapta a tus necesidades.
        </h3>
        <h2 class="fh5co-section-lead text-center"><small class="subtitle">nuestra oficina ahora es tú oficina</small></h2>
      </div>
      <div class="fh5co-spacer fh5co-spacer-md"></div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 fh5co-feature-border">
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <i class="icon-sun"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>Disfruta del día</h3>
            <p>El prestigioso edificio Altamira nos brinda  excelente luz diurna gracias a su hermoso diseño.</p>
            <p><a href="http://www.edificioaltamira.com.ar/">Ver más</a></p>
          </div>
        </div>
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <i class="icon-users"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>Generá relaciones</h3>
            <p>Conocé gente, compartí mate, almorzá con gente diferente e incluso generá amistades.</p>
            <p><a href="#">Ver más</a></p>
          </div>
        </div>
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <i class="icon-lock"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>Seguridad</h3>
            <p>Contamos con un piso exclusivo, seguridad en la entrada y sistema de alarma.</p>
            <p><a href="#">Ver más</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <i class="icon-briefcase"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>Sala de reunión</h3>
            <p>Recibí a tus clientes, tomá llamadas de trabajo en privado, concentrate en lo que más te importa.</p>
            <p><a href="#">Ver más</a></p>
          </div>
        </div>
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <i class="icon-location-pin"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>En pleno centro</h3>
            <p>Aprovechá a hacer trámites, caminar hasta el río, pasear por la peatonal, retirar algo del correo. El límite lo ponés vos.</p>
            <p><a href="#">Ver más</a></p>
          </div>
        </div>
        <div class="fh5co-feature">
          <div class="fh5co-feature-icon to-animate">
            <i class="icon-laptop"></i>
          </div>
          <div class="fh5co-feature-text">
            <h3>WiFi</h3>
            <p>Internet de alta velocidad, sin cables. Mantenete conectado siempre, desde cualquier dispositivo.</p>
            <p><a href="#">Ver más</a></p>
          </div>
        </div>
      </div>
      <div class="fh5co-spacer fh5co-spacer-md"></div>
    </div>
    <div class="row text-center" id="plen">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="fh5co-section-lead">¿Qué talle sos?</h1>
        <h3 class="fh5co-section-sub-lead">
          Nuestros planes son flexibles y se adaptan a tus necesidades
        </h3>
        <div class="fh5co-spacer fh5co-spacer-md"></div>

        <div class="row">
          <div class="col-md-3">
            <div class="table-header table-border">
              <h1>XS</h1>
            </div>
            <div class="table-content">
              <h3>1 día por semana</h3>
              <h3>8hs</h3>
              <h1>$600</h1>
            </div>
          </div>
          <div class="col-md-3">
            <div class="table-header table-border">
              <h1>S</h1>
            </div>
            <div class="table-content">
              <h3>4 días por semana</h3>
              <h3>4hs</h3>
              <h1>$1100</h1>
            </div>
          </div>
          <div class="col-md-3">
            <div class="table-header table-border">
              <h1>M</h1>
            </div>
            <div class="table-content">
              <h3>3 días por semana</h3>
              <h3>8hs</h3>
              <h1>$1500</h1>
            </div>
          </div>
          <div class="col-md-3">
            <div class="table-header table-border">
              <h1>L</h1>
            </div>
            <div class="table-content">
              <h3>5 días por semana</h3>
              <h3>8hs</h3>
              <h1>$1900</h1>
            </div>
          </div>
        </div>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="table-header table-border">
              <h1>Todos nuestros planes incluyen</h1>
            </div>
            <div class="table-content">
              <h3>+ conexión WiFi alta velocidad</h3>
              <h3>+ acceso Focus Room / Meeting Room</h3>
              <h3>+ café, mate, té, snacks, microondas</h3>
              <h3>+ relax area</h3>
              <h3>+ servicio sin cargo de impresora (hasta 50 hojas)</h3>
            </div>
          </div>
        </div>
        <div class="fh5co-spacer fh5co-spacer-md" id="write"></div>
        <div class="row">
          <h1 class="fh5co-section-lead" style="margin-bottom: 50px;">Me gustaría conocer la oficina</h1>
          <form action="#" method="post">
            <div class="col-md-5">
              <div class="form-group">
                <label for="name" class="sr-only">Nombre</label>
                <input placeholder="Name" id="name" type="text" class="form-control input-lg">
              </div>  
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input placeholder="Email" id="email" type="email" class="form-control input-lg">
              </div>  
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="size" class="sr-only">Talle</label>
                <select class="form-control input-lg" id="job">
                  <option>--Talle--</option>
                  <option>XS</option>
                  <option>S</option>
                  <option>M</option>
                  <option>L</option>
                </select>
              </div>  
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="gender" class="sr-only">A que te dedicas</label>
                <textarea placeholder="Contanos a que te dedicas :)" id="message" class="form-control input-lg" rows="3"></textarea>
              </div>
            </div>
            <div class="col-md-offset-3 col-md-6">
              <div class="form-group">
                <input type="submit" class="btn btn-primary " value="Enviar consulta">
              </div>  
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="fh5co-spacer fh5co-spacer-lg"></div>    
<div class="container" id="fh5co-products">
  <div class="row text-left" id="people">
    <div class="col-md-8">
      <h2 class="fh5co-section-lead">¿Quiénes somos?</h2>
    </div>
    <div class="fh5co-spacer fh5co-spacer-md"></div>
  </div>
  <div class="row text-center">
    <div class="col-md-offset-1 col-md-2 col-sm-6 col-xs-6 col-xxs-12 fh5co-mb30">
      <div class="fh5co-product">
        <img src="images/uke.jpg" class="img-responsive img-rounded to-animate">
        <h4>Uke</h4>
        <div class="fh5co-footer-widget">
          <ul class="fh5co-social">
            <li><a href="https://github.com/eugeniol" target="_blank"><i class="icon-github"></i></a></li>
            <li><a href="https://www.facebook.com/elattanzio" target="_blank"><i class="icon-facebook"></i></a></li>
            <li><a href="https://ar.linkedin.com/in/elattanzio" target="_blank"><i class="icon-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12 fh5co-mb30">
      <div class="fh5co-product">
        <img src="images/abo.jpg" class="img-responsive img-rounded to-animate">
        <h4>Aboyón</h4>
        <div class="fh5co-footer-widget">
          <ul class="fh5co-social">
            <li><a href="https://github.com/aboyon" target="_blank"><i class="icon-github"></i></a></li>
            <li><a href="https://www.instagram.com/aboyon/" target="_blank"><i class="icon-instagram"></i></a></li>
            <li><a href="https://ar.linkedin.com/in/jorgedavidsilveira/es" target="_blank"><i class="icon-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="visible-sm-block visible-xs-block clearfix"></div>
    <div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12 fh5co-mb30">
      <div class="fh5co-product">
        <img src="images/guido2.jpeg" class="img-responsive img-rounded to-animate">
        <h4>Guido</h4>
        <div class="fh5co-footer-widget">
          <ul class="fh5co-social">
            <li><a href="https://github.com/GuidoAlloatti" target="_blank"><i class="icon-github"></i></a></li>
            <li><a href="https://www.facebook.com/guido.alloatti" target="_blank"><i class="icon-facebook"></i></a></li>
            <li><a href="https://ar.linkedin.com/in/guidoalloatti" target="_blank"><i class="icon-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12 fh5co-mb30">
      <div class="fh5co-product">
        <img src="images/leo.jpg" class="img-responsive img-rounded to-animate">
        <h4>Leo</h4>
        <div class="fh5co-footer-widget">
          <ul class="fh5co-social">
            <li><a href="https://github.com/leotioni" target="_blank"><i class="icon-github"></i></a></li>
            <li><a href="#" target="_blank"><i class="icon-twitter"></i></a></li>
            <li><a href="https://ar.linkedin.com/in/leotioni" target="_blank"><i class="icon-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-6 col-xxs-12 fh5co-mb30">
      <div class="fh5co-product">
        <img src="images/gonzo.jpg" class="img-responsive img-rounded to-animate">
        <h4>Gonzo</h4>
        <div class="fh5co-footer-widget">
          <ul class="fh5co-social">
            <li><a href="https://www.github.com/GonzoGhanem"><i class="icon-github"></i></a></li>
            <li><a href="https://www.twitter.com/GonzaGhanemOK" target="_blank"><i class="icon-twitter"></i></a></li>
            <li><a href="https://ar.linkedin.com/in/gonzalo-h-ghanem-4b144310" target="_blank"><i class="icon-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div class="fh5co-spacer fh5co-spacer-lg"></div>

<div id="fh5co-clients">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="fh5co-lead">San Luis 470, Rosario</h1>
        <p class="author">&mdash; <cite>WorkAround</cite></p>
      </div>
    </div>
  </div>
</div>

<div class="fh5co-bg-section" style="background-image: url('https://api.mapbox.com/styles/v1/gonzoft/cir6r489w000bbong1hxa0g24/static/-60.629066,-32.950842,15.41,0.00,0.00/1024x600?access_token=pk.eyJ1IjoiZ29uem9mdCIsImEiOiJjaXExc3kycTcwMTA5Zndubzkxd2d5MWNzIn0.BLq90gQRutCz9EbXuEZ0_w'); background-attachment: fixed;">
  <div class="fh5co-overlay"></div>
</div>