<div class="fh5co-slider">
  <div class="owl-carousel owl-carousel-fullwidth">
    <div class="item" style="background-image:url(images/pics/FullSizeRender13.jpg)">
      <div class="fh5co-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text text-center to-animate">
                <h1 class="fh5co-lead">Workaround</h1>
                <h2 class="fh5co-sub-lead">Espacio de trabajo compartido, amplio, luminoso, céntrico e inspirador </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item" style="background-image:url(images/pics/FullSizeRender8.jpg)">
      <div class="fh5co-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text text-center to-animate">
                <h1 class="fh5co-lead">Como en casa</h1>
                <h2 class="fh5co-sub-lead">Entrás, dejás la mochila, preparás el mate y estás listo para empezar tu día. Como en casa</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item" style="background-image:url(images/workaround-space15.jpg)">
      <div class="fh5co-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text text-center to-animate">
                <h1 class="fh5co-lead">Muchos espacios en uno</h1>
                <h2 class="fh5co-sub-lead">Te ofrecemos diferentes alternativas: desde compartir la mesa con tus compañeros, trabajar desde el sillón, aprovechar el aire fresco del balcón o concentrarte en nuestra Focus room</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item" style="background-image:url(images/mesa-area-copy.jpg)">
      <div class="fh5co-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text text-center to-animate">
                <h1 class="fh5co-lead">Todo en uno</h1>
              <h2 class="fh5co-sub-lead">Nuestras mesas cuentan con todo tipo de conexión, para que tengas cerca todo lo que te importa</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="fh5co-main">
<!-- Features -->
<%= render_view('features') %>
<%= render_view('form') %>
<%= render_view('about') %>

<div class="fh5co-spacer fh5co-spacer-lg"></div>

<div id="fh5co-clients">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="fh5co-lead">San Luis 470, Rosario</h1>
        <p class="author">&mdash; <cite>WorkAround</cite></p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="fh5co-bg-section" style="background-image: url('https://api.mapbox.com/styles/v1/gonzoft/cir6r489w000bbong1hxa0g24/static/-60.629066,-32.950842,15.41,0.00,0.00/1024x600?access_token=pk.eyJ1IjoiZ29uem9mdCIsImEiOiJjaXExc3kycTcwMTA5Zndubzkxd2d5MWNzIn0.BLq90gQRutCz9EbXuEZ0_w'); background-attachment: fixed;">
  <div class="fh5co-overlay"></div>
</div> -->