<%= render_view('carousel') %>
<div id="fh5co-main">
<!-- Features -->
<%= render_view('features') %>
<%= render_view('form') %>
<%= render_view('about') %>

<div class="fh5co-spacer fh5co-spacer-lg"></div>

<div id="fh5co-clients">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="fh5co-lead">San Luis 470, Rosario</h1>
        <p class="author">&mdash; <cite>WorkAround</cite></p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="fh5co-bg-section" style="background-image: url('https://api.mapbox.com/styles/v1/gonzoft/cir6r489w000bbong1hxa0g24/static/-60.629066,-32.950842,15.41,0.00,0.00/1024x600?access_token=pk.eyJ1IjoiZ29uem9mdCIsImEiOiJjaXExc3kycTcwMTA5Zndubzkxd2d5MWNzIn0.BLq90gQRutCz9EbXuEZ0_w'); background-attachment: fixed;">
  <div class="fh5co-overlay"></div>
</div> -->