<div class="fh5co-spacer fh5co-spacer-md"></div>
  <div class="container" id="fh5co-products">
    <div class="row text-center" id="plen">
      <div class="col-md-12"> 
         <!-- col-md-offset-1 col-lg-8 col-lg-offset-2"> -->
        <h2 class="fh5co-section-lead">¿Qué plan se adapta a vos?</h2>
        <h3 class="fh5co-section-sub-lead">
          Nuestros planes son flexibles y se adaptan a tus necesidades
        </h3>
        <!-- <div class="fh5co-spacer fh5co-spacer-md"></div> -->

        <div class="row plans-div">
          <div class="col-md-2 plan-details">
            <div class="table-header table-border plan-header">
              <div class="text-header">XS</div>
            </div>
            <div class="table-content">
              <h3>1 día por semana</h3>
              <h3>9hs</h3>
              <h1>$1000</h1>
              <sup class="mensual">Mensuales final iva incluido</sup>
            </div>
          </div>

          <div class="col-md-1 no-padding"></div>

          <div class="col-md-2 plan-details">
            <div class="table-header table-border plan-header">
              <div class="text-header">S</div>
            </div>
            <div class="table-content">
              <h3>4 días por semana</h3>
              <h3>5hs</h3>
              <h1>$1700</h1>
              <sup class="mensual">Mensuales final iva incluido</sup>
            </div>
          </div>

          <div class="col-md-1 no-padding"></div>

          <div class="col-md-2 plan-details">
            <div class="table-header table-border plan-header">
              <div class="text-header">M</div>
            </div>
            <div class="table-content">
              <h3>3 días por semana</h3>
              <h3>9hs</h3>
              <h1>$2200</h1>
              <sup class="mensual">Mensuales final iva incluido</sup>
            </div>
          </div>

          <div class="col-md-1 no-padding"></div>

          <div class="col-md-2 plan-details">
            <div class="table-header table-border plan-header">
              <div class="text-header">L</div>
            </div>
            <div class="table-content">
              <h3>5 días por semana</h3>
              <h3>9hs</h3>
              <h1>$2600</h1>
              <sup class="mensual">Mensuales final iva incluido</sup>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
