<div class="fh5co-spacer fh5co-spacer-xs"></div>
<div class="container col-md-12" id="fh5co-features">
  <div class="row text-center" id="plen">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="col-md-12">
          <h2 class="fh5co-section-lead">¿Qué servicios están incluidos?</h2>
          <h3 class="fh5co-section-sub-lead">
            Algunos de los servicios básicos que encontrarás en cualquiera de nuestras membresías
          </h3>
          <br/>
          <div class="table-content">
            <div class="services">
              <row>
                <div class='col-md-6 col-sm-12'>
                  <div>
                    <div class="salmon-item service-item"></div><div class="service-text">WiFi de alta velocidad</div>
                  </div>
                  <div>
                    <div class="silver-item service-item"></div><div class="service-text">Meeting Room</div>
                  </div>
                  <div>
                    <div class="blue-item service-item"></div><div class="service-text">Area de almuerzo</div>
                  </div>
                  <div>
                    <div class="green-item service-item"></div><div class="service-text">Café, Mate, Té, Microondas</div>
                  </div>
                  <div>
                    <div class="orange-item service-item"></div><div class="service-text">Mesas de trabajo compartidas</div>
                  </div>
                </div>
                <div class='col-md-6 col-sm-12'>
                  <div>                  
                    <div class="gold-item service-item"></div><div class="service-text">Servicios de impresion</div>
                  </div>
                  <div>
                    <div class="purple-item service-item"></div><div class="service-text">Relax área</div>
                  </div>
                  <div>
                    <div class="darkgray-item service-item"></div><div class="service-text">Baño privado</div>
                  </div>
                  <div>
                    <div class="blue-item service-item"></div><div class="service-text">Area de esparcimiento</div>
                  </div>
                  <div>
                    <div class="salmon-item service-item"></div><div class="service-text">Balcón exclusivo</div>
                  </div>
                </div>
              </row>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
