<div class="fh5co-spacer fh5co-spacer-md"></div>
<div class="container col-md-12" id="fh5co-features">
  <div class="row text-center" id="plen">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="fh5co-spacer fh5co-spacer-md"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-header table-border">
            <div class="text-header">En nuestras oficinas encontrarás</div>
          </div>
          <div class="table-content">
            <div class="services">
              <div class="orange-item service-item"></div><div class="service-text">Conexión WiFi alta velocidad</div><br>
              <div class="blue-item service-item"></div><div class="service-text">Área de almuerzo/esparcimiento</div><br>
              <div class="green-item service-item"></div><div class="service-text">Café, Mate, Té, Microondas</div><br>
              <div class="purple-item service-item"></div><div class="service-text">Relax área</div><br>
              <div class="silver-item service-item"></div><div class="service-text">Mesas de Trabajo Compartidas</div><br>
              <div class="gold-item service-item"></div><div class="service-text">Servicios de impresion</div><br>
              <div class="orange-item service-item"></div><div class="service-text">Ambiente climatizado todo el año</div><br>
              <div class="blue-item service-item"></div><div class="service-text">Meeting Room</div><br>
              <div class="green-item service-item"></div><div class="service-text">Baño privado</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
