.fh5co-spacer.fh5co-spacer-sm
#fh5co-products.container
  #people.row.text-left
    .col-md-offset-2.col-md-8
      h2.fh5co-section-lead ¿Quiénes somos?
    .fh5co-spacer.fh5co-spacer-md
  .row.text-center
    .col-md-offset-1.col-md-2.col-sm-6.col-xs-6.col-xxs-12.fh5co-mb30
      .fh5co-product
        img.img-responsive.img-rounded.to-animate(src='images/about/uke.jpg')
        h4 Uke
        .fh5co-footer-widget
          ul.fh5co-social
            li
              a(href='https://github.com/eugeniol', target='_blank')
                i.icon-github
            li
              a(href='https://www.facebook.com/elattanzio', target='_blank')
                i.icon-facebook
            li
              a(href='https://ar.linkedin.com/in/elattanzio', target='_blank')
                i.icon-linkedin
    .col-md-2.col-sm-6.col-xs-6.col-xxs-12.fh5co-mb30
      .fh5co-product
        img.img-responsive.img-rounded.to-animate(src='images/about/abo.jpeg')
        h4 Aboyón
        .fh5co-footer-widget
          ul.fh5co-social
            li
              a(href='https://github.com/aboyon', target='_blank')
                i.icon-github
            li
              a(href='https://www.instagram.com/aboyon/', target='_blank')
                i.icon-instagram
            li
              a(href='https://ar.linkedin.com/in/jorgedavidsilveira/es', target='_blank')
                i.icon-linkedin
    .visible-sm-block.visible-xs-block.clearfix
    .col-md-2.col-sm-6.col-xs-6.col-xxs-12.fh5co-mb30
      .fh5co-product
        img.img-responsive.img-rounded.to-animate(src='images/about/guido.jpeg')
        h4 Guido
        .fh5co-footer-widget
          ul.fh5co-social
            li
              a(href='https://github.com/GuidoAlloatti', target='_blank')
                i.icon-github
            li
              a(href='https://www.facebook.com/guido.alloatti', target='_blank')
                i.icon-facebook
            li
              a(href='https://ar.linkedin.com/in/guidoalloatti', target='_blank')
                i.icon-linkedin
    .col-md-2.col-sm-6.col-xs-6.col-xxs-12.fh5co-mb30
      .fh5co-product
        img.img-responsive.img-rounded.to-animate(src='images/about/leo.jpg')
        h4 Leo
        .fh5co-footer-widget
          ul.fh5co-social
            li
              a(href='https://github.com/leotioni', target='_blank')
                i.icon-github
            li
              a(href='https://www.instagram.com/leo.tioni/', target='_blank')
                i.icon-instagram
            li
              a(href='https://ar.linkedin.com/in/leotioni', target='_blank')
                i.icon-linkedin
    .col-md-2.col-sm-6.col-xs-6.col-xxs-12.fh5co-mb30
      .fh5co-product
        img.img-responsive.img-rounded.to-animate(src='images/about/gonzo.jpeg')
        h4 Gonzo
        .fh5co-footer-widget
          ul.fh5co-social
            li
              a(href='https://www.github.com/GonzoGhanem')
                i.icon-github
            li
              a(href='https://www.twitter.com/GonzaGhanemOK', target='_blank')
                i.icon-twitter
            li
              a(href='https://ar.linkedin.com/in/gonzalo-h-ghanem-4b144310', target='_blank')
                i.icon-linkedin
