.fh5co-slider
  .owl-carousel.owl-carousel-fullwidth
    #first.item
      .fh5co-overlay
      .container
        .row
          .col-md-8.col-md-offset-2
            .fh5co-owl-text-wrap
              .fh5co-owl-text.text-center.to-animate
                h1.fh5co-lead Workaround
                h2.fh5co-sub-lead Espacio de trabajo compartido, amplio, luminoso, céntrico e inspirador 
    #second.item
      .fh5co-overlay
      .container
        .row
          .col-md-8.col-md-offset-2
            .fh5co-owl-text-wrap
              .fh5co-owl-text.text-center.to-animate
                h1.fh5co-lead Como en casa
                h2.fh5co-sub-lead
                  | Entrás, dejás la mochila, preparás el mate y estás listo para empezar tu día. Como en casa
    #third.item
      .fh5co-overlay
      .container
        .row
          .col-md-8.col-md-offset-2
            .fh5co-owl-text-wrap
              .fh5co-owl-text.text-center.to-animate
                h1.fh5co-lead Muchos espacios en uno
                h2.fh5co-sub-lead Disfruta de todas nuestras alternativas para trabajar de la manera más cómoda
    #fourth.item
      .fh5co-overlay
      .container
        .row
          .col-md-8.col-md-offset-2
            .fh5co-owl-text-wrap
              .fh5co-owl-text.text-center.to-animate
                h1.fh5co-lead Todo en uno
                h2.fh5co-sub-lead
                  | Nuestras mesas cuentan con todo tipo de conexión, para que tengas cerca todo lo que te importa
    #fifth.item
      .fh5co-overlay
      .container
        .row
          .col-md-8.col-md-offset-2
            .fh5co-owl-text-wrap
              .fh5co-owl-text.text-center.to-animate
                h1.fh5co-lead El mejor lugar para trabajar
                h2.fh5co-sub-lead
                  | Sentite productivo en el mejor lugar para compartir tu experiencia laboral
