#fh5co-features.features-div
  .container
    #benefits.row
      .col-md-6.col-sm-6.fh5co-feature-border
        .fh5co-feature
          .fh5co-feature-icon.to-animate
            i.icon-sun
          .fh5co-feature-text
            h3 Disfruta del día
            p
              | El prestigioso edificio Altamira nos brinda  excelente luz diurna gracias a su hermoso diseño.
        .fh5co-feature
          .fh5co-feature-icon.to-animate
            i.icon-users
          .fh5co-feature-text
            h3 Generá relaciones
            p
              | Conocé gente, compartí mate, almorzá con gente diferente e incluso generá amistades.
        .fh5co-feature
          .fh5co-feature-icon.to-animate
            i.icon-lock
          .fh5co-feature-text
            h3 Seguridad
            p Contamos con un piso exclusivo, seguridad en la entrada y sistema de alarma.
        .fh5co-feature.no-bottom-border
          .fh5co-feature-icon.to-animate
            i.icon-flow-tree
          .fh5co-feature-text
            h3 Bici friendly
            p
              | Varias bici-sendas te conducen a Workaround y contamos con estacionamiento para tu bici.
      .col-md-6.col-sm-6
        .fh5co-feature
          .fh5co-feature-icon.to-animate
            i.icon-blackboard
          .fh5co-feature-text
            h3 Sala de reunión
            p
              | Recibí a tus clientes, tomá llamadas de trabajo en privado, concentrate en lo que más te importa.
        .fh5co-feature
          .fh5co-feature-icon.to-animate
            i.icon-address
          .fh5co-feature-text
            h3 En pleno centro
            p
              | Aprovechá a hacer trámites, caminar hasta el río, pasear por la peatonal, retirar algo del correo. El límite lo ponés vos.
        .fh5co-feature
          .fh5co-feature-icon.to-animate
            i.icon-laptop
          .fh5co-feature-text
            h3 WiFi
            p
              | Internet de alta velocidad, sin cables. Mantenete conectado siempre, desde cualquier dispositivo.
        .fh5co-feature.no-bottom-border
          .fh5co-feature-icon.to-animate
            i.icon-spotify
          .fh5co-feature-text
            h3 Spotify
            p
              | Para concentrarse mientras disfrutas de tu música favorita. Como en casa, pero mejor.
