.fh5co-spacer.fh5co-spacer-sm
#fh5co-clients.col-md-12
  .col-md-6
    h2.fh5co-section-lead.office-meet-div
      | ¿Querés conocer la oficina?
      a(href='https://www.facebook.com/messages/t/user:602091589950813', target='_blank')
        img.fb-image(src='images/facebook.png')
        // <i class="icon-facebook fb-original"></i>
    .col-md-offset-1.col-md-11
      h3.fh5co-section-sub-lead(style='color: #FFF')
        | Dejanos tu mensaje en Facebook para que podamos coordinar un día y te acerques a conocer el espacio, sin ningún compromiso :)
  .col-md-6.site-address
    h1.fh5co-lead.text-header San Luis 470, Rosario
    p.author
      | — 
      cite WorkAround Rosario
