.fh5co-spacer.fh5co-spacer-xs
#fh5co-products.container
  #plen.row.text-center
    .col-md-12
      h2.fh5co-section-lead ¿Qué plan se adapta a vos?
      h3.fh5co-section-sub-lead
        | Elegi alguna de nuestras membresías que se adapte más a tus necesidades
      .row.plans-div
        .col-md-2.plan-details
          .table-header.table-border.plan-header
            .text-header Bronze
          .table-content
            h3 1 día por semana
            h3 10hs
            h1 $1300
            sup.mensual Mensuales final iva incluido
        .col-md-1.no-padding
        .col-md-2.plan-details
          .table-header.table-border.plan-header
            .text-header Silver
          .table-content
            h3 4 días por semana
            h3 5hs
            h1 $2200
            sup.mensual Mensuales final iva incluido
        .col-md-1.no-padding
        .col-md-2.plan-details
          .table-header.table-border.plan-header
            .text-header Gold
          .table-content
            h3 5 días por semana
            h3 5hs
            h1 $2500
            sup.mensual Mensuales final iva incluido
        .col-md-1.no-padding
        .col-md-2.plan-details
          .table-header.table-border.plan-header
            .text-header Platinum
          .table-content
            h3 4 días por semana
            h3 10hs
            h1 $2700
            sup.mensual Mensuales final iva incluido
        .col-md-1.no-padding
        .col-md-2.plan-details
          .table-header.table-border.plan-header
            .text-header Black
          .table-content
            h3 5 días por semana
            h3 10hs
            h1 $3200
            sup.mensual Mensuales final iva incluido
