.fh5co-spacer.fh5co-spacer-md
#fh5co-products.container
  #plen.row.text-center
    .col-md-12
      // col-md-offset-1 col-lg-8 col-lg-offset-2">
      h2.fh5co-section-lead ¿Qué plan se adapta a vos?
      h3.fh5co-section-sub-lead
        | Nuestros planes son flexibles y se adaptan a tus necesidades
      // <div class="fh5co-spacer fh5co-spacer-md"></div>
      .row.plans-div
        .col-md-2.plan-details
          .table-header.table-border.plan-header
            .text-header XS
          .table-content
            h3 1 día por semana
            h3 9hs
            h1 $1000
            sup.mensual Mensuales final iva incluido
        .col-md-1.no-padding
        .col-md-2.plan-details
          .table-header.table-border.plan-header
            .text-header S
          .table-content
            h3 4 días por semana
            h3 5hs
            h1 $1700
            sup.mensual Mensuales final iva incluido
        .col-md-1.no-padding
        .col-md-2.plan-details
          .table-header.table-border.plan-header
            .text-header M
          .table-content
            h3 3 días por semana
            h3 9hs
            h1 $2200
            sup.mensual Mensuales final iva incluido
        .col-md-1.no-padding
        .col-md-2.plan-details
          .table-header.table-border.plan-header
            .text-header L
          .table-content
            h3 5 días por semana
            h3 9hs
            h1 $2600
            sup.mensual Mensuales final iva incluido
