.fh5co-spacer.fh5co-spacer-xs
#fh5co-features.container.col-md-12
  #services.row.text-center
    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .row
        .col-md-12
          h2.fh5co-section-lead ¿Qué servicios están incluidos?
          h3.fh5co-section-sub-lead
            | Algunos de los servicios básicos que encontrarás en cualquiera de nuestras membresías
          br
          .table-content
            .services
              row
                .col-md-6.col-sm-12
                  div
                    .salmon-item.service-item
                    .service-text WiFi de alta velocidad
                  div
                    .silver-item.service-item
                    .service-text Meeting Room
                  div
                    .blue-item.service-item
                    .service-text Area de almuerzo
                  div
                    .green-item.service-item
                    .service-text Café, Mate, Té, Microondas
                  div
                    .orange-item.service-item
                    .service-text Mesas de trabajo compartidas
                .col-md-6.col-sm-12
                  div
                    .gold-item.service-item
                    .service-text Servicios de impresion
                  div
                    .purple-item.service-item
                    .service-text Relax área
                  div
                    .darkgray-item.service-item
                    .service-text Baño privado
                  div
                    .blue-item.service-item
                    .service-text Area de esparcimiento
                  div
                    .salmon-item.service-item
                    .service-text Balcón exclusivo
