.fh5co-spacer.fh5co-spacer-sm
#fh5co-features.container.col-md-12
  #plen.row.text-center
    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .row
        .col-md-12
          .section-header.table-border
            .text-header En nuestras oficinas encontrarás
          .table-content
            .services
              row
                .col-md-6
                  .salmon-item.service-item
                  .service-text Conexión WiFi alta velocidad
                  br
                  .silver-item.service-item
                  .service-text Meeting Room
                  br
                  .blue-item.service-item
                  .service-text Área de almuerzo/esparcimiento
                  br
                  .green-item.service-item
                  .service-text Café, Mate, Té, Microondas
                  br
                div
                  .orange-item.service-item
                  .service-text Mesas de Trabajo Compartidas
                  br
                  .gold-item.service-item
                  .service-text Servicios de impresion
                  br
                  .purple-item.service-item
                  .service-text Relax área
                  br
                  .darkgray-item.service-item
                  .service-text Baño privado
