.fh5co-spacer.fh5co-spacer-md
#fh5co-products.container
  .row.text-center
    .col-md-8.col-md-offset-2
      h2.fh5co-section-lead ¿Qué es workaround?
      h3.fh5co-section-sub-lead
        | WorkAround surgió de una necesidad: 
        strong tener una oficina propia donde pudiéramos compartir el día a día con amigos.
        br
        br
        |           El resultado nos gustó tanto, que decidimos abrir las puertas a todos aquellos que necesiten un lugar en donde desarrollar su actividad y a la vez pasar un buen rato entre colegas. Nuestro ambiente es tranquilo, cómodo, agradable y funcional, ideal para Freelancers de cualquier rubro.
        br
        br
        |           No importa a qué te dediques ni en que horarios te guste trabajar, nuestro servicio es flexible y se adapta a tus necesidades.
      h2.fh5co-section-lead.text-center
        small.subtitle nuestra oficina ahora es tú oficina
    .fh5co-spacer.fh5co-spacer-md
