meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title Workaround — Coworking — Rosario — Oficina compartida
meta(name='title', content='Workaround — Coworking — Rosario — Oficina compartida')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='Workaround oficina compartida (coworking) en Rosario San Luis 470 Freelance shared environment work space Coworking')
meta(name='keywords', content='workaround rosario, coworking rosario, coworking, workaround coworking, argentina, san luis 470, oficina compartida, oficinas compartidas, espacio trabajo compartido')
meta(name='revisit-after', content='7 days')
link(rel='author', href='humans.txt')
meta(property='og:title', content='')
meta(property='og:image', content='')
meta(property='og:url', content='')
meta(property='og:site_name', content='')
meta(property='og:description', content='')
meta(name='twitter:title', content='')
meta(name='twitter:image', content='')
meta(name='twitter:url', content='')
meta(name='twitter:card', content='')
link(rel='apple-touch-icon', sizes='180x180', href='../images/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='../images/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='../images/favicon-16x16.png')
link(rel='manifest', href='../images/manifest.json')
link(rel='mask-icon', href='../images/safari-pinned-tab.svg', color='#ffbd4a')
meta(name='theme-color', content='#ff0000')
