doctype html
html
  head
    include partials/_head
  body
    include partials/_header
    block content
        include views/carousel
        .fh5co-main
            include views/workaround
            include views/features
            include views/plans
            include views/services
            include views/about
            include views/footer
